<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>chapter4</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <div class="headings">
      <p>Page 6</p>
      <h1>Chapter Four</h1>
      <h2>The Enemy</h2>
    </div>
      <div class="image-container">
        <img src="assets/images/chapter4art.jpg" alt="Cover Image" class="cover-image">    
      </div>
      <br>
    <hr/>
      <br>
      <p>     Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus nihil ullam error, ipsam porro officia expedita aut, quasi voluptatum consectetur, quidem soluta. Dolorem cumque veniam vel est laborum adipisci fugit tempore quas, quia debitis aspernatur eum quasi vero totam velit voluptatum laboriosam nam eaque corporis rem harum sit. Officiis, incidunt!
        lorem2005
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis id eaque ut totam dolorem doloremque dolores maxime fuga neque eius, esse perferendis. Cum ad consequatur facilis? Minima, nam. Totam corporis accusantium cumque? Ducimus odio veniam modi ut facere magnam numquam ipsa nostrum provident. Ab pariatur neque praesentium consequatur eius quas architecto omnis, repudiandae libero maiores tenetur blanditiis magni, placeat modi perferendis optio consequuntur cupiditate non. Distinctio voluptates odit optio accusamus temporibus quam recusandae tenetur, natus, unde doloremque odio animi quasi vero nesciunt, quibusdam officia facere.</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Libero molestias, eum, et harum nisi voluptatum corporis cum optio explicabo ea velit! Earum sunt error quasi corrupti tempora ut, dolorum natus quibusdam, molestias reiciendis voluptate beatae in. Commodi voluptates ipsum itaque magni soluta!</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Commodi quae asperiores nulla, quaerat, est eum consectetur modi corporis rerum neque animi quia voluptatem. Quam eligendi totam, magni, alias quia provident nisi ullam, magnam commodi velit nemo maiores? Cum, et porro. Quia ipsa ea, deleniti consectetur, ad dolor accusantium, sunt a quibusdam libero minima? Totam quo dicta quae, exercitationem quia animi rem nostrum ex itaque, omnis illo, iste nam. Placeat laudantium tenetur, modi ratione nostrum neque itaque tempora ut? Eius officia iusto, autem tempore praesentium, iste doloribus corporis quae adipisci repudiandae, nesciunt enim?</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Saepe ipsam perspiciatis voluptatem necessitatibus! Enim voluptatem omnis officia aperiam fuga cum, rerum eos voluptatum qui distinctio porro! Ad quidem soluta amet eveniet, et veritatis. Quaerat aliquid nemo eaque molestias ea architecto omnis suscipit animi minus quae ex illum aperiam, reprehenderit eius neque illo debitis corporis quod ipsum! Voluptates accusantium itaque quibusdam. Sint, molestias accusamus itaque dignissimos sapiente iste quo recusandae atque repellat suscipit nesciunt reiciendis animi tempore esse in. Labore.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto facere ex nostrum voluptatum facilis possimus iste ut quaerat dignissimos! Debitis vel fugiat a, maiores ad expedita, sit quaerat in at omnis iure blanditiis? Mollitia quas aperiam alias dolor ipsa nihil doloremque nulla tempore veniam amet natus et dignissimos tenetur reprehenderit itaque eveniet minima voluptate, voluptatibus assumenda dolorum optio odio ad dolores debitis. Earum ipsam sed labore facere minus doloremque corporis eligendi quidem nobis distinctio provident aut temporibus vero assumenda quos repellendus voluptate atque incidunt, iste iusto? Autem fugit consectetur architecto, molestias non natus hic consequuntur enim quod accusantium facilis quaerat aut temporibus porro laudantium eius similique nulla neque ratione veritatis? Voluptate cum nesciunt nulla in voluptates harum eligendi quibusdam consequuntur voluptatum assumenda repellendus delectus autem, impedit illo ipsa fugiat.</p>
        <div class="page-buttons">
        <button ion-button (click)="goToChapter3()" class="button">Back</button>
        <button ion-button (click)="goToChapter5()" class="button">Next</button>
      </div>
      <div class="button-container">
        <button ion-button (click)="goToContents()" class="button">Return to Contents</button>
      </div>
    
  </ion-list>
</ion-content>
